body {
  background: radial-gradient(circle at 10% 20%, rgba(234, 249, 249, 0.67) 0.1%, rgba(239, 249, 251, 0.63) 90.1%);
  font-family: "Arial", cursive;
  color: white;
}
.container {
  border: 1px solid grey ;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 510px;
  margin-top: 100px;
  margin-bottom: 100px;
  background: #75aeef;

  border-radius: 10px;
  height: 700px;
}
.btn {
  border-radius: 10px;
  background-color: white;
}
h1 {
  font-family: "Arial";
  color: white;
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
}
h2 {
  font-family: "Arial";
  color:white;
  display: block;
  
  text-align: center;
  font-size: 15px;
  padding:10px 0px 10px 0px;
}

.icon {
  position: relative;
  top: -20px;
 
}
.temperature {
  position: relative;
  padding-top: 0px;
  text-align: center;
}

.description {
  text-align: center;
  font-size: 22px;
  padding-top: 5px;
}
.units {
  margin: 0;
  display: block;

  font-size: 18px;
  text-align: center;
  color: white;
}
.conditions {
  font-family: "Arial", cursive;
  font-size: 20px;
  padding-top: 100px;
  text-align: center;
  color: white;
}


.weather-forecast{
  margin-top: 25px;
  text-align: center;
  padding-bottom: 20px;
  background-color: #85bcf0;
  border-radius: 2%;


}

.weather-forecast-date {
  color: white;
  font-size: 18px;
  padding-top: 30px;

}
.weather-forecast-temperature-min {
  opacity: 0.7;
  color: white;
}
.weather-forecast-temperature-max {
  
  color: white;
}

.weather-forecast-temperature{
  font-size: 16px;
  color: white;
}
.footer {
  text-align: center;
  padding-top: 10px;
  color: #000;
}
#temperature{
  font-size: 48px;;
}
